@import "tailwindcss";

@theme {
    --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
    --font-heading: "Poppins", sans-serif;
}

@layer base {
    html {
        font-size: 17px;
    }

    body {
        @apply bg-slate-50 text-slate-900;
    }
}

.perspective-1000 {
    perspective: 1000px;
}

.transform-style-3d {
    transform-style: preserve-3d;
}

.backface-hidden {
    backface-visibility: hidden;
}

.rotate-y-180 {
    transform: rotateY(180deg);
}